<button (click)="toAllTasks()">Back to all tasks</button>
<form class="header_form" #findForm="ngForm" (ngSubmit)="findTasks(findForm.form.value)">
  <label>
    <input type="text" name="subject" #subject="ngModel" [ngStyle]="{border: subject.invalid && subject.touched ? 'solid 2px red' : 'solid 1px black'}" minlength="1" maxlength="111" ngModel required>
  </label>
  <label>
    <button type="submit" [disabled]="findForm.invalid">Find</button>
  </label>
</form>

<div class="all_tasks">
  <div class="task_class" *ngFor="let UsersTasks of task">
    User name: {{UsersTasks.name}} <br>
    User email: {{UsersTasks.email}}
    <br>
    <div style="color: darkcyan; text-align: center">{{UsersTasks.subject}}</div>
    <div style="text-align: center"> {{UsersTasks.info}}</div>
  </div>
</div>
